
@import "tailwindcss";
@import "tw-animate-css";





:root {
  --background: #fff;
  --foreground: #000;
  --border: hsl(217, 10%, 90%);
  --muted: hsl(215, 15%, 45%);
  --accent: hsl(199, 89%, 42%);
  --accent-border: hsl(199, 89%, 42%);
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-brand: "Montserrat", sans-serif;

  --color-accent: #0066ff; 
}

@theme inline {
 --color-background: var(--background);
 --color-foreground: var(--foreground);
 --color-accent: var(--accent);
 --color-accent-border: var(--accent-border);
 --color-border: var(--border);
 --color-muted: var(--muted);
}

html, body {
  scroll-behavior: smooth;
   min-height: 100vh;
   overflow-x: hidden;
     background:  linear-gradient(180deg, #f8fcff 0%, #f2f8ff 100%);
}


section {
  @apply w-full scroll-mt-16;
  height: 100vh;



}