@import "tailwindcss";
@import "tw-animate-css";





:root {
  --background: #fff;
  --foreground: #000;
  --border: hsl(217, 10%, 90%);
  --muted: hsl(215, 15%, 45%);
  --accent: hsl(199, 89%, 42%);
  --accent-border: hsl(199, 89%, 42%);
}

@theme inline {
 --color-background: var(--background);
 --color-foreground: var(--foreground);
 --color-accent: var(--accent);
 --color-accent-border: var(--accent-border);
 --color-border: var(--border);
 --color-muted: var(--muted);
}