---
import Navbar from "./ui/navbar.astro";
import Button from "./ui/button.astro";
import BackgroundImage from "../assets/wep4.jpeg";
import { Image } from "astro:assets";
const title = "Proyectos y Trámites Subtel";
const description =
  "Expertos en la obtención de frecuencias VHF y UHF. Gestión integral de proyectos y trámites ante la Subsecretaría de Telecomunicaciones (Subtel) para Servicios Limitados y Radiodifusión.";
const myImages = [
  "/images/image1.jpg",
  "/images/image2.jpg",
  "/images/image3.jpg",
];
---

<section id="Home" class="text-center">
  <div
    class="relative h-dvh overflow-hidden rounded-none md:h-screen md:rounded-[10px] lg:h-[97vh]"
  >
    <Image
      src={BackgroundImage}
      alt="Background"
      loading="eager"
      class="absolute inset-0 h-full w-full object-cover"
    />
    <div
      class="absolute inset-0 bg-[linear-gradient(to_right,rgba(0,0,0,0.8)_0%,rgba(0,0,0,0.4)_40%,rgba(0,0,0,0)_75%)]"
    >
    </div>
    <div class="relative z-10 mx-auto h-full w-full md:w-[95%]">
      <div
        class="flex h-full w-full flex-col justify-center px-4 py-10 md:justify-between md:px-0 md:py-0"
      >
        <div class="spacer hidden md:block"></div>
        <div class="mt-20 flex flex-col gap-4 text-left md:mt-0">
          <h1
            class="text-5xl leading-tight font-bold text-white md:text-7xl 2xl:text-9xl"
          >
            {title}
          </h1>
          <p
            class="w-full text-left text-lg text-white opacity-90 md:w-1/2 md:text-2xl"
          >
            {description}
          </p>
          <Button
            href="#Contact"
            class="w-full p-4 text-xl sm:w-40"
            variant="secondary"
          >
            Contactanos
          </Button>
        </div>

        <div class="hidden items-end md:flex"></div>
      </div>
    </div>
  </div>
</section>
