---
const title = "Proyectos Subtel";
const description =
  "Entendemos la complejidad de los trámites ante la Subsecretaría de Telecomunicaciones (Subtel). Por eso, te ofrecemos nuestra experiencia y conocimiento para gestionar eficazmente estos procesos.";
---

<section id="Home" class="text-center">
  <h1 class="text-2xl font-bold">{title}</h1>
  <p class="text-lg">{description}</p>
</section>
