---
import Navbar from "./ui/navbar.astro";
import Button from "./ui/button.astro";
import Carrousel from "./ui/carrousel.astro";
import MiniClientCard from "./ui/miniClientCard.astro";
import ImageGallery from "./ui/imageGallery.tsx";
const title = "Proyectos Subtel";
const description =
  "Entendemos la complejidad de los trámites ante la Subsecretaría de Telecomunicaciones (Subtel). Por eso, te ofrecemos nuestra experiencia y conocimiento para gestionar eficazmente estos procesos.";
const myImages = [
  "/images/image1.jpg",
  "/images/image2.jpg",
  "/images/image3.jpg",
];
---

<section id="Home" class="text-center">
  <div
    class="h-[100dvh]
  md:h-[100vh]
  rounded-none
  md:rounded-[10px]
  bg-cover
  bg-center
  bg-no-repeat
  bg-[linear-gradient(to_right,rgba(0,0,0,0.7)_0%,rgba(0,0,0,0.3)_40%,rgba(0,0,0,0)_75%),url('../assets/wep4.jpeg')]"
  >
    <div class="w-full md:w-[95%] h-full mx-auto">
      <div class="absolute top-0 md:top-6 left-0 w-full z-50">
        <div class="w-full md:w-[95%] mx-auto px-0 md:px-4">
          <Navbar />
        </div>
      </div>
      <div
        class="w-full h-full flex flex-col justify-center md:justify-between py-10 md:py-0 px-4 md:px-0"
      >
        <div class="spacer hidden md:block"></div>
        <div class="text-left flex flex-col gap-4 mt-20 md:mt-0">
          <h1
            class="text-5xl sm:text-7xl md:text-9xl text-white font-bold leading-tight"
          >
            {title}
          </h1>
          <p
            class="text-lg md:text-2xl text-white text-left w-full md:w-1/2 opacity-90"
          >
            {description}
          </p>
          <Button
            href="#Contact"
            class="p-4 text-xl w-full sm:w-40"
            variant="secondary"
          >
            Contactanos
          </Button>
        </div>

        <div class="hidden md:flex items-end">
          <Carrousel />
        </div>
      </div>
    </div>
  </div>
</section>
