---
import Navbar from "./ui/navbar.astro";
import Button from "./ui/button.astro";
import Carrousel from "./ui/carrousel.astro";
import MiniClientCard from "./ui/miniClientCard.astro";
import ImageGallery from "./ui/imageGallery.tsx";
const title = "Proyectos Subtel";
const description =
  "Entendemos la complejidad de los trámites ante la Subsecretaría de Telecomunicaciones (Subtel). Por eso, te ofrecemos nuestra experiencia y conocimiento para gestionar eficazmente estos procesos.";
const myImages = [
  "/images/image1.jpg",
  "/images/image2.jpg",
  "/images/image3.jpg",
];
---

<section id="Home" class="text-center">
  <div
    class="h-[100vh]
  rounded-[10px]
  bg-cover
  bg-center
  bg-no-repeat
  bg-[linear-gradient(to_right,rgba(0,0,0,0.7)_0%,rgba(0,0,0,0.3)_40%,rgba(0,0,0,0)_75%),url('../assets/wep4.jpeg')]"
  >
    <div class="w-[95%] h-full mx-auto">
      <div class="absolute top-6 left-0 w-full z-50">
        <div class="w-[95%] mx-auto px-4">
          <Navbar />
        </div>
      </div>
      <div class="w-full h-full flex flex-col justify-between gap-4">
        <div class="spacer"></div>
        <div class="text-left flex flex-col gap-4">
          <h1 class="text-9xl text-white font-bold">{title}</h1>
          <p class="text-2xl text-white text-left w-1/2">{description}</p>
          <Button class="p-4 text-xl w-40" variant="secondary">
            Contactanos
          </Button>
        </div>

        <div class="flex items-end">
          <Carrousel />
        </div>
      </div>
    </div>
  </div>
</section>
