---
import Card from "./ui/card.astro";
import { Shield, Globe, Code } from "@lucide/astro";

const allServices = [
  {
    title: "Servicios Limitados",
    icon: Shield,
    items: [
      "Obtención de frecuencias UHF y VHF ante Subtel",
      "Proyectos Subtel de radiocomunicaciones para trámites de frecuencias",
      "Estudios de Zona de Servicio para Repetidores",
      "Proyectos de Televisión por Cable (coaxial o fibra óptica)",
      "Regularización de enlaces en microondas e inalámbricos",
    ],
  },
  {
    title: "Servicios Públicos",
    icon: Globe,
    items: [
      "Servicios Públicos de Transmisión de datos inalámbricos en bandas de 2,4 GHz, 5 GHz y otras",
      "Servicios Públicos de Transmisión de datos mediante sistemas FTTH o HFC",
    ],
  },
  {
    title: "Servicios Intermedios",
    icon: Code,
    items: ["Servicios Intermedios de Transmisión de datos"],
  },
];
---

<section
  id="Services"
  class="flex flex-col items-center py-20 lg:py-8 2xl:py-20"
>
  <div class="text-center">
    <h2 class="mb-4 text-5xl font-bold">
      Tramites <span class="text-accent">Subtel</span>
    </h2>
    <div class="text-lg">
      Gestión eficaz y aprobación garantizada ante la Subsecretaría de
      Telecomunicaciones.
    </div>
  </div>
  <div class="mt-12 grid w-[92%] max-w-7xl grid-cols-1 gap-8 md:grid-cols-3">
    {
      allServices.map((service, index) => (
        <Card highlighted={index === 0}>
          <service.icon slot="icon" size={24} />
          <span slot="title">{service.title}</span>
          <div slot="content" class="space-y-4">
            {service.items.map((item) => (
              <div class="flex gap-3">
                <span class="text-accent mt-1 shrink-0 font-bold">•</span>
                <p class="text-sm leading-relaxed font-medium sm:text-base">
                  {item}
                </p>
              </div>
            ))}
          </div>
        </Card>
      ))
    }
  </div>
</section>
