---
import clsx from "clsx";

const variants = {
  primary: "bg-primary text-primary-foreground",
  secondary: "bg-accent text-accent-foreground",
};

type VariantType = keyof typeof variants;

interface ButtonProps {
  class?: string;
  variant?: VariantType;
}

const {
  class: className,
  variant = "primary",
  ...rest
} = Astro.props as ButtonProps;
---

<button
  class={clsx(
    "p-2   rounded-md hover:opacity-90 transition-opacity cursor-pointer",
    variants[variant],
    className,
  )}
  {...rest}
>
  <slot />
</button>
