---
import clsx from "clsx";

const variants = {
  primary: "bg-primary text-primary-foreground",
  secondary: "bg-accent text-accent-foreground",
};

type VariantType = keyof typeof variants;

interface ButtonProps {
  class?: string;
  variant?: VariantType;
  href?: string;
}

const {
  class: className,
  variant = "primary",
  href,
  ...rest
} = Astro.props as ButtonProps;
---

{
  href ? (
    <a
      href={href}
      class={clsx(
        "inline-flex items-center justify-center p-2 rounded-md hover:opacity-90 transition-opacity cursor-pointer",
        variants[variant],
        className,
      )}
      {...rest}
    >
      <slot />
    </a>
  ) : (
    <button
      class={clsx(
        "p-2 rounded-md hover:opacity-90 transition-opacity cursor-pointer",
        variants[variant],
        className,
      )}
      {...rest}
    >
      <slot />
    </button>
  )
}
