---
import { Radio } from "@lucide/astro";
---

<div
  class="h-14 border-b-2 border-border w-full bg-background sticky top-0 z-50 px-10"
>
  <div class="w-full h-full flex items-center justify-between">
    <div class="flex items-center gap-2 justify-between w-full">
      <div class="flex items-center gap-2">
        <Radio class="text-accent" />
        <span class="text-xl font-bold"
          >Tele<span class="text-accent">pro</span>
        </span>
      </div>

      <div>
        <ul class="flex items-center gap-4">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
