---
import { Radio } from "@lucide/astro";
---

<nav
  class="sticky top-0 h-16 border-b-2 border-border w-full bg-background s px-10 glass"
>
  <div class="w-full h-full flex items-center justify-between">
    <div class="flex items-center gap-2 justify-between w-full">
      <div class="flex items-center gap-2">
        <Radio class="text-accent" />
        <span class="text-xl font-bold"
          >Tele<span class="text-accent">pro</span>
        </span>
      </div>

      <div>
        <ul class="flex items-center gap-4">
          <li>
            <a href="#Home" class="hover:text-accent transition-colors"
              >Inicio</a
            >
          </li>
          <li>
            <a href="#Services" class="hover:text-accent transition-colors"
              >Servicios</a
            >
          </li>
          <li>
            <a href="#Contact" class="hover:text-accent transition-colors"
              >Contacto</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
